* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  background: no-repeat url('./background.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main {
  width: 90%;
  margin: 220px 20px 0 20px;
  padding: 30px 17px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
}

.phone{
  padding: 10px 0 10px 15px;
  border-radius: 5px;  
  background-color: #F1F5FF;
  outline: none;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

.mail {
  padding: 10px 0 10px 15px;
  border-radius: 5px;  
  background-color: #F1F5FF;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}
.mail-container{
  position: relative;
}
.getNum{
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-70%);
  color: #3793FB;
}

.agree{
  font-size: .8em;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.agree .one{
  height: 15px;
  width: 15px;
  display: inline-block;
  background: no-repeat url('./right.png');
  background-size: cover;
}
.agree .two {
  color: #BDC0C4;
}
.agree .three {
  color: #3793FB;
}

.money {
  background-color: #3793FB;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.msg {
  color: #3793FB;
  display: flex;
}
.msg .oneagain{
  height: 15px;
  width: 15px;
  display: inline-block;
  background: no-repeat url('./laba.png');
  background-size: cover;
}
footer{
  /* margin: 20px 20px 0 20px; */
  height: 100px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center
}
.footerimg {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
